* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.title {
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: rgb(29, 29, 143);
    padding: 9px;
}

.container {
    display: flex;
}

.searchBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: .5rem;
}

#search-title {
    font-size: 1.4rem;
    font-weight: bold;
}

#search-text {
    border: 1px solid gray;
    width: 100%;
    margin-top: .7rem;
    padding: .2rem;
}

#searchBtn {
    width: 100%;
    margin-top: 10px;
}

#past-searched-items {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
}

#saved-city-btn {
    margin: .4rem;
    background-color: teal;
    color: white;
}

#todays-forecast {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem;
    padding: .7rem;
    line-height: 1.7rem;
}

#weather-icon {
    background-color: rgb(224, 224, 230);
    border-radius: 50%;
    margin-bottom: .3rem;
    margin-top: .3rem;
}

.low-uv {
    background-color: green;
    color: white;
    width: 8.7rem;
}
.mod-uv {
    background-color: yellow;
    color: black;
    width: 8.7rem;
}
.high-uv {
    background-color: red;
    color: white;
    width: 8.7rem;
}

#fiveday-title {
    margin-left: .7rem;
    margin-top: 2rem;
}

#fiveday-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: .5rem;
    margin-right: .5rem;
}

#daybox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.6rem;
}

#five-day-img {
    background-color: rgb(224, 224, 230);
    border-radius: 50%;
    margin-bottom: .3rem;
    margin-top: .3rem;
    width: 55px;
    height: 55px;
}
