* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}

.container {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.searchBox {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-left: .3rem;

}

#search-title {
    font-size: 1.4rem;
    font-weight: bold;
}

#search-text {
    border: 1px solid gray;
    width: 100%;
}

#searchBtn {
    width: 100%;
    margin-top: 10px;
}

.content-right {
    display: flex;
    flex-direction: column;
}

#todays-forecast {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1rem;
    padding-left: .3rem;
    padding: 1rem;
    /* border: 1px solid black; */
}

#weather-icon {
    background-color: rgb(171, 166, 166);
    border-radius: 50%;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.fiveday-title {
    margin: 1rem;

}

#fiveday-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

#daybox {
    display: flex;
    flex-direction: column;
    margin: 4px;
    justify-content: left;
    border: 2px solid black;
    color: white;
    background-color: navy;
}