* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}

.container {
    display: flex;
    align-content: space-around;
}

.searchBox {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 5px 7px;
    width: 25%;
}

#search-title {
    font-size: 1.4rem;
    font-weight: bold;
}

#search-text {
    border: 1px solid gray;
    width: 100%;
}

#searchBtn {
    width: 100%;
    margin-top: 10px;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#todays-forecast {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    

}

.fiveday-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

#fiveday-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

#daybox {
    display: flex;
    flex-direction: column;
    margin: 4px;
    justify-content: left;
    border: 2px solid black;
    color: white;
    background-color: navy;
}